

.land-header{
    padding:var(--sz-10) var(--sz-20) ;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
}

#h-sitename{
    cursor: pointer;
}

#h-sitename a:hover{
    background: transparent;
}

/* Positioning and base layout */
.h-menu {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.fa-bars {
    font-size: 1.8rem;
    color: var(--text-color);
}

/* Hidden dropdown by default */
.menu-box {
    display: none;
    position: absolute;
    top: 80%;
    left: 1.3%;
    background: var(--footer-bg);
    border-radius: var(--sz-10);
    padding: var(--sz-10) var(--sz-15);
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    flex-direction: column;
    z-index: 10;
    gap: 5px;
    width: 12rem;
}


.menu-box a {
    display: flex;
    align-items: center;
    justify-content: start;
    color: var(--text-color);
    text-decoration: none;
    padding: var(--sz-10);
    border-radius: var(--sz-10);
    line-height: 1.2rem;
    white-space: nowrap; /* fixed */
    transition:  0.2s ease;
    width: 100%;
}


.menu-box a:hover {
    color: var(--main-button);
    color: var(--text-color);
    border-radius: 0;
    margin: var(--sz-10) 0;
    padding: var(--sz-10);
    border-radius: var(--sz-10);
    background-color: var(--main-button); /* add this */
    color: var(--text-color);
}

#menu-toggle:checked ~ .h-right-container .menu-box {
    display: flex;
}

/* Hero Page */

.hero{
    position: relative;
    z-index: 1;
}
.hero-container{
    width: 100%;
    height: var(--sz-500);
}

/* Card */

.card {
    height: var(--sz-500); 
    width: 100%;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    background-image:
        var(--hero-gradient-right),
        var(--hero-gradient-bottom);
}

/* hero card details */
.card-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: var(--sz-720);
    position: absolute;
    top: 40%;
    left: var(--sz-50);
}

.card-details h1{
    font-size: var(--sz-50);
    font-weight: var(--fw-bold);
}

.card-details h6{
    font-size: var(--sz-15);
    font-weight: var(--fw-regular);
}

.card1 {
    background-image: 
        var(--hero-gradient-right),
        var(--hero-gradient-bottom),
        var( --hero-gradient-top),
        url(../../img/Movies/Banners/black\ phone\ 2.webp);
}

/* Hero Buttons */
.hero-buttons{
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    top: 90%;
    left: 1.1%;
    width: 100%;
    padding: 0 var(--sz-30);
}

.h-wl-button{
    width: var(--sz-260);
    font-size: var(--sz-15);
}

.h-dtls-button{
    background-color: rgba(217, 217, 217, 0.4);
    font-size: var(--sz-15);
}

.r-buttons{
    display: flex;
    gap: var(--sz-20) ;
}

.l-buttons{
    display: flex;
    gap: var(--sz-10);
}

.b-cr-left, .b-cr-right{
    background-color: rgba(217, 217, 217, 0.4);
    font-size: var(--sz-20);
}



.movie-poster[data-title="The Black Phone"]{
    background: url(../../../FRONTEND/img/Movies/The\ Black\ Phone.webp ) center/cover no-repeat;
    border-radius: var(--sz-15);
    
}



.movie-poster[data-title="Tron Ares"]{
    background: url(../../../FRONTEND/img/Movies/Tron_ares.webp) center/cover no-repeat;
    border-radius: var(--sz-15); 
}


.movie-poster[data-title="Fortune"]{
    background: url(../../../FRONTEND/img/Movies/The\ Good\ Fortune.webp) center/cover no-repeat;
    border-radius: var(--sz-15); 
}


.movie-poster[data-title="conjuring"]{
    background: url(../../../FRONTEND/img/Movies/The\ conjuring\ the\ last\ rites.webp) center/cover no-repeat;
    border-radius: var(--sz-15); 
}


.movie-poster[data-title="Demon Slayer"]{
    background: url(../../img/Movies/Demon\ Salyer\ Infinity\ Castle.webp) center/cover no-repeat;
    border-radius: var(--sz-15); 
}


.movie-poster[data-title="Alice in Borderland"]{
    background: url(../../../FRONTEND/img/Tvshows/Alice\ in\ Borderland.webp) center/cover no-repeat;
    border-radius: var(--sz-15); 
}


/* Media Queries */
@media screen and (max-width: 600px) {
    /* Header */
    .land-header {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000; 
    }   


    #h-sitename{
        font-size: var(--sz-20);
    }


    .nav-container a,
    .menu-box a {
        font-size: 1rem;
    }

    .h-c-search {
        margin-right: -3rem; 
    }

    .owl-logo{
        width: 4rem;
    }


    .search{
        display: none;
    }

    .h-menu{
        font-size: 1.1rem;
        width: 2.5rem;
        height: auto;
    }
    .h-c-search button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem; 
    }

    .h-c-search i {
        font-size: 1rem;
    }
    
    .nav-container a{
        font-size: 1rem;
        padding: 1px;
        gap: 1rem;
        width: 4rem;
    }


    #home,
    #movies,
    #tv-shows{
        display: none;
    }

    .nav-container{
        font-size: 1rem;
        gap: 1px;
    }

    .fa-bars {
        font-size: 1rem;
    }


    /* Hero */

    .hero{
        position: relative;
        z-index: 1;
    }
    .hero-container{
        width: 100%;
        height: var(--sz-300);
    }

    .hero-buttons{
        top: 80%;
        left: 1.1%;
        padding: 0 var(--sz-10);
    }

    .r-buttons{
    gap: var(--sz-15) ;
    gap: var(--sz-10);
}

    .h-wl-button{
        width: var(--sz-140);
        font-size: var(--sz-10);
    }

    .h-dtls-button{
        font-size: var(--sz-10);
    }

    .b-cr-left, .b-cr-right{
        font-size: var(--sz-12);
    }

    .card {
    position: relative;
    height: var(--sz-300); 
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image:
        var(--hero-gradient-right),
        var(--hero-gradient-bottom);
}

    .card1 {
    position: absolute;
    background-image: 
        var(--hero-gradient-right-m),
        var(--hero-gradient-bottom-m),
        var(--hero-gradient-top-m),
        url(../../img/Movies/Banners/black\ phone\ 2.webp);
        
    }

    .card-details {
        position: absolute;
        top:60%;        
        left: 4%;         
        transform: translateY(-50%);
        width: 80%;   
    }


    .card-details p{
        display: none;
    } 

    .card-details h1 {
        font-size: var(--sz-40);
    }

    .card-details h6 {
        font-size: var(--sz-10);
    }


    /* List */


    .cards-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: var(--sz-40);
        padding: 0px;
    }

    .movie-poster{
        width: var(--sz-120);  
        height: var(--sz-170);
    }

    .movie-title{
        width: var(--sz-100);
        height: 2rem;
        font-weight: var(--fw-medium);
    }

    .cards-container > .movie-card:nth-child(n+3) {
    display: none;
    }

    .movie-title p{
        margin: 0 auto;
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    
    
    /* Footer */


    .ft-container{
        gap: 4rem;
        padding: var(--sz-30) var(--sz-20);
    }

    .f-name-log-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
}
    
    .f-owl-logo{
        width: var(--sz-50); 
        height: auto;
        object-fit: contain;
    }
    
    .ft-left-side h1{
        font-size: var(--sz-30);
        line-height: 1rem;
    }

    .ft-left-side p{
        font-size: var(--sz-10);
    }
    
    .ft-right-side{
        gap: 1rem ;
        padding: 0px;

    }

    .ft-right-side a{
        font-size: var(--sz-10);
        height: 1rem;
    }

    .ft-right-side p{
        font-size: var(--sz-10);
    }
    

    .copyright{
        font-size: var(--sz-10);
        padding: var(--sz-10) var(--sz-20);
    }

}